# 가상환경
venv/

# Python 캐시
__pycache__/
*.py[cod]

# 로그 및 에러 파일
*.log
/app/error.log

# 데이터베이스
*.db

# 환경설정 파일
*.env
.env.local
.env.*

# 텍스트 파일 (API 키 등 민감정보)
/app/api.txt
/app/token.txt

# IDE 설정
.vscode/
.idea/

alembic/
alembic.ini

celery_config_window.py